html, body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.roach-container>img{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	animation: roach-move linear infinite;
	-webkit-animation: roach-move linear infinite;
	-moz-animation: roach-move linear infinite;
	-o-animation: roach-move linear infinite;
	filter: drop-shadow(0 0 15px grey);
	display: none;
}

@-moz-keyframes roach-move {
	0%{
		opacity: 0;
		-moz-motion-offset: 0%;
		-moz-offset-distance: 0%;
	}
	
	10%{
		opacity: 1;
	}   

	90%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		-moz-motion-offset: 100%;
    	-moz-offset-distance: 100%;
   	}
}

@-o-keyframes roach-move {
	0%{
		opacity: 0;
		-o-motion-offset: 0%;
		-o-offset-distance: 0%;
	}
	
	10%{
		opacity: 1;
	}   

	90%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		-o-motion-offset: 100%;
    	-o-offset-distance: 100%;
   	}
}

@-webkit-keyframes roach-move {
	0%{
		opacity: 0;
		-webkit-motion-offset: 0%;
		-webkit-offset-distance: 0%;
	}
	
	10%{
		opacity: 1;
	}   

	90%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-motion-offset: 100%;
    	-webkit-offset-distance: 100%;
   	}
}

@keyframes roach-move {
	0%{
		opacity: 0;
		motion-offset: 0%;
		offset-distance: 0%;
	}
	
	10%{
		opacity: 1;
	}   

	90%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		motion-offset: 100%;
    	offset-distance: 100%;
   	}
}

.roach-container .one{
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
	offset-path: path('M198.09,800S221.58,302.51,675,288.41,1280,0,1280,0');
}

.roach-container .two{
	-webkit-animation-duration: 8s;
	-moz-animation-duration: 8s;
	-o-animation-duration: 8s;
	animation-duration: 8s;
	offset-path: path('M0,516.52s82.75-166.24,385.15-90.24S603.63,662.18,871.2,651.1s202.65-302.4,17.41-323S751,73.22,1050.17,173c0,0,195.32,58.58,229.83,115.58');
}

.roach-container .three{
	-webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
	offset-path: path('M1280,800S557.51,786.44,393.07,617.3s-51.68-267.81,0-338.28,88.8-250.3-86-279');
}

.roach-container .four{
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	offset-path: path('M952.17,0S564.56,6.51,376.62,140.42s197.33,392.31,592,281.9S1072,800,1072,800');
}

.roach-container .five{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M0,39.4s85.33,451,388.37,360.6S750.14,18.26,982.71,187.4s476.88,372.45-242,612.6');
}

.roach-container .six{
	-webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
	offset-path: path('M1050.84,0S1227,105.18,1088.42,279s-246.66-70.48-390-82.22S278,264.92,266.21,488.09,1011.14,531.66,1280,800');
}

.roach-container .seven{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M0,532.27S493.63,231.45,640,220.85s360.34-114.4,396.35-33.89-25.42,130.63,31.78,157.47S1275.79,699.63,1280,742');
}

.roach-container .eight{
	-webkit-animation-duration: 8s;
	-moz-animation-duration: 8s;
	-o-animation-duration: 8s;
	animation-duration: 8s;
	offset-path: path('M1002.45,0s-137.7,206,0,282.29,311.42,180.07,112.28,247.86-572-394-692.74-389.8S73.74,210.26,0,246.28');
}

.roach-container .nine{
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	offset-path: path('M0,55.61S78.79,475.07,203.78,483.55s163.13-230.92,214-222.45,408.87-161,368.62,161S1280,667.85,1280,667.85');
}

.roach-container .ten{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M239.8,0s-8.48,87.39-86.86,131.88S6.77,265.61,64,400,477.07,800,477.07,800');
}

.roach-container .eleven{
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
	offset-path: path('M0,767.42S93.62,470.83,250.39,449.65s245.75-233,114.4-254.22S49.13,0,49.13,0');
}

.roach-container .twelve{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M1051.18,0S256.75,89.51,155.06,201.79s63.55,89,38.13,207.61S69.16,477.19,121.64,653s421.1,57.2,421.1,57.2,411-110.68,370.74,89.78');
}

.roach-container .thirteen{
	-webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
	offset-path: path('M1280,367s-190.69,171.6-523.29,8.47S157.18,64.09,129.64,337.37,565.23,669.45,0,800');
}

.roach-container .fourteen{
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
	offset-path: path('M320.3,800S712.22,684.8,652.9,443.29s-455.47-80.5-449.12-188.54S797,29.13,1146.51,0');
}

.roach-container .fifteen{
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	offset-path: path('M580.88,0s461.83,210.26,455.47,390.33S203.78,252.11,250.39,800');
}

.roach-container .sixteen{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M1280,800s-10.62-433-483-545.25S574.52,318.3,341.49,371.27,0,0,0,0');
}

.roach-container .seventeen{
	-webkit-animation-duration: 7s;
	-moz-animation-duration: 7s;
	-o-animation-duration: 7s;
	animation-duration: 7s;
	offset-path: path('M716.46,800s417.34-210.53,394-365.18-463.95-27.54-701.22,0,29.66-273.28-129.23-302.94S0,465.94,0,465.94');
}

.roach-container .eighteen{
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
	offset-path: path('M640,0S981.27,187,919.83,390.33s-298.7,8.48-379.21,33.9S291.94,381.86,0,722.93');
}

.roach-container .nineteen{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M1280,117.05s-38.16,158.88-222.46,137.7S705.87,472.43,1104.14,800');
}

.roach-container .twenty{
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	offset-path: path('M377.5,800s641.9-96.13,669.44-261.37-36-347.44-243.62-353.79S750.35,0,750.35,0');
}

.roach-container .twentyone{
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	offset-path: path('M409.28,0S157.18,148.82,288.52,271.7s697-29.66,667.33,203.37S676.21,677.93,330.89,800');
}

.roach-container .twentytwo{
	-webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
	offset-path: path('M994,0s209.73,237.8,0,350.08-175.83-80.5-493.61-59.32S28,439.06,167.77,576.76,953.73,800,953.73,800');
}

.roach-container .twentythree{
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
	offset-path: path('M557.57,800S871.11,648.79,799.08,468.72,521.56,466.6,419.87,295c0,0-207.61-108-156.77,122.87S214.38,800,214.38,800');
}

.roach-container .twentyfour{
	-webkit-animation-duration: 7s;
	-moz-animation-duration: 7s;
	-o-animation-duration: 7s;
	animation-duration: 7s;
	offset-path: path('M1104.14,0S123.28,144.59,66.08,284.41s601.65,230.91,595.3,315.65S1280,800,1280,800');
}

.mode-switch{
	position: fixed;
	transform: translate(-50%, -50%);
	transform-origin: center center;
	top: 50%;
	left: 50%;
	z-index: 1;
	text-align: center;
}

.mode-switch div{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
	background-color: white;
}

.mode-switch div:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}

.text-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	position: fixed;
	top: 0;
}

.text-container .xin-container,
.text-container .cuo-container{
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	mix-blend-mode: multiply;
}

.text-container .xin-container .xin-row,
.text-container .cuo-container .cuo-row{
	width: 100%;
	height: calc(100% * 1/11);
	display: flex;
	flex-wrap: nowrap;
}

/*
for all columns
*/

.text-container .xin-container .xin-column,
.text-container .cuo-container .cuo-column{

}

/*
for columns with text only
*/

.text-container .xin-container .caption span:nth-of-type(odd),
.text-container .cuo-container .caption span:nth-of-type(odd){
	opacity: 1;
	display: none;
}

.text-container .xin-container .caption span:nth-of-type(even),
.text-container .cuo-container .caption span:nth-of-type(even){
	opacity: 0.5;
	display: none;
}

.text-container .xin-container .caption span:hover,
.text-container .cuo-container .caption span:hover{
	color: white;
	background-color: black !important;
	opacity: 1;
}

.text-container .xin-container .caption,
.text-container .cuo-container .caption{
	overflow: hidden;
	font-size: 12px;
	font-family: sans-serif;
	text-align: justify;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 1px solid rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	color: black;
	transition: 0.3s;
}

.text-container .xin-container .caption:hover,
.text-container .cuo-container .caption:hover{
	overflow: auto;
	scrollbar-width: none;
}

.text-container .xin-container .caption::-webkit-scrollbar,
.text-container .cuo-container .caption::-webkit-scrollbar{
	display: none;
}

.text-container .xin-container:hover .caption,
.text-container .cuo-container:hover .caption{
	border-right: 1px solid rgba(0, 0, 0, 1);
	border-left: 1px solid rgba(0, 0, 0, 1);
}

.text-container .xin-container .caption img,
.text-container .cuo-container .caption img{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
	display: none;
}

.text-container .xin-container .caption span:hover + img,
.text-container .cuo-container .caption span:hover + img{
	display: block;
}

/*
mobile view
*/
@media only screen and (max-width:480px) {
	.text-container .xin-container .caption,
	.text-container .cuo-container .caption{
		font-size: 10px;
	}

	.mode-switch{
		transform: translate(-50%, -50%) rotate(270deg);
	}
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width:768px) {
	.text-container .xin-container .caption,
	.text-container .cuo-container .caption{
		font-size: 10px;
	}

	.mode-switch{
		transform: translate(-50%, -50%) rotate(270deg);
	}
}

/*
laptop w/HiDPI
*/
@media only screen and (min-width: 1281px) and (max-width:1440px) {
	.roach-container .one{
		offset-path: path('M0,581.09s93.09-187,433.29-101.52S679.09,745,980.1,732.49s228-340.2,19.59-363.36S844.88,82.37,1181.44,194.58c0,0,219.74,65.9,258.56,130');
	}
	
	.roach-container .two{
		offset-path: path('M222.85,900s26.43-559.68,536.49-575.53S1440,0,1440,0');
	}
	
	.roach-container .three{
		offset-path: path('M1440,900S627.2,884.74,442.2,694.46s-58.14-301.28,0-380.57S542.11,32.32,345.48,0');
	}
	
	.roach-container .four{
		offset-path: path('M1071.19,0S635.13,7.33,423.7,158s222,441.35,666,317.14S1206,900,1206,900');
	}
	
	.roach-container .five{
		offset-path: path('M0,44.33S96,551.75,436.92,450s407-429.46,668.63-239.18S1642,629.83,833.34,900');
	}
	
	.roach-container .six{
		offset-path: path('M1182.19,0s198.21,118.33,42.29,313.89S947,234.61,785.77,221.4,312.7,298,299.49,549.11s838,49,1140.51,350.89');
	}
	
	.roach-container .seven{
		offset-path: path('M0,598.8S555.34,260.38,720,248.46s405.38-128.7,445.89-38.13-28.6,147,35.75,177.15S1435.26,787.09,1440,834.75');
	}
	
	.roach-container .eight{
		offset-path: path('M1127.76,0s-154.91,231.78,0,317.58,350.35,202.58,126.32,278.84S610.59,153.13,474.74,157.89,83,236.54,0,277.06');
	}
	
	.roach-container .nine{
		offset-path: path('M0,62.56S88.64,534.46,229.26,544,412.77,284.21,470,293.74,930,112.61,884.66,474.87,1440,751.34,1440,751.34');
	}
	
	.roach-container .ten{
		offset-path: path('M269.77,0s-9.53,98.31-97.71,148.36S7.61,298.81,72,450,536.7,900,536.7,900');
	}
	
	.roach-container .eleven{
		offset-path: path('M0,863.35S105.33,529.69,281.69,505.86s276.46-262.17,128.7-286S55.28,0,55.28,0');
	}
	
	.roach-container .twelve{
		offset-path: path('M1182.58,0S288.84,100.7,174.44,227s71.5,100.1,42.9,233.56S77.81,536.84,136.85,734.65,610.59,799,610.59,799,1073,674.49,1027.66,900');
	}
	
	.roach-container .thirteen{
		offset-path: path('M1440,412.91s-214.52,193-588.7,9.53S176.82,72.1,145.84,379.54,635.88,753.14,0,900');
	}
	
	.roach-container .fourteen{
		offset-path: path('M360.34,900S801.25,770.4,734.52,498.71,222.11,408.14,229.26,286.59,896.58,32.77,1289.83,0');
	}
	
	.roach-container .fifteen{
		offset-path: path('M653.48,0S1173,236.54,1165.89,439.12,229.26,283.63,281.69,900');
	}
	
	.roach-container .sixteen{
		offset-path: path('M1440,900s-11.94-487.09-543.42-613.41-250.25,71.5-512.41,131.08S0,0,0,0');
	}
	
	.roach-container .seventeen{
		offset-path: path('M806,900s469.51-236.85,443.29-410.83-521.94-31-788.87,0S493.8,181.73,315.06,148.36,0,524.18,0,524.18');
	}
	
	.roach-container .eighteen{
		offset-path: path('M720,0s383.93,210.33,314.81,439.12-336,9.54-426.61,38.14S328.43,429.59,0,813.3');
	}
	
	.roach-container .nineteen{
		offset-path: path('M1440,131.68s-42.93,178.75-250.27,154.91S794.1,531.49,1242.16,900');
	}
	
	.roach-container .twenty{
		offset-path: path('M424.69,900s722.14-108.15,753.12-294-40.52-390.86-274.08-398S844.15,0,844.15,0');
	}
	
	.roach-container .twentyone{
		offset-path: path('M460.44,0S176.82,167.43,324.59,305.66s784.1-33.37,750.74,228.8S760.73,762.67,372.26,900');
	}
	
	.roach-container .twentytwo{
		offset-path: path('M1118.23,0s235.94,267.53,0,393.84-197.82-90.56-555.31-66.73S31.44,493.94,188.74,648.85,1073,900,1073,900');
	}
	
	.roach-container .twentythree{
		offset-path: path('M627.27,900S980,729.89,899,527.31s-312.21-2.39-426.61-195.43c0,0-233.56-121.55-176.36,138.23S241.17,900,241.17,900');
	}
	
	.roach-container .twentyfour{
		offset-path: path('M1242.16,0S138.69,162.66,74.34,320,751.2,579.74,744.05,675.07,1440,900,1440,900');
	}
}

/*
desktop view
*/
@media only screen and (min-width: 1441px) {
	.roach-container .one{
		offset-path: path('M0,697.31S124.12,472.88,577.72,575.48,905.45,894,1306.8,879s304-408.23,26.12-436S1126.51,98.84,1575.26,233.5c0,0,293,79.08,344.74,156');
	}
	
	.roach-container .two{
		offset-path: path('M297.13,1080s35.24-671.61,715.32-690.64S1920,0,1920,0');
	}
	
	.roach-container .three{
		offset-path: path('M1920,1080S836.27,1061.69,589.6,833.35s-77.52-361.53,0-456.68S722.81,38.78,460.64,0');
	}
	
	.roach-container .four{
		offset-path: path('M1428.26,0S846.84,8.79,564.94,189.56s296,529.62,888,380.57S1608,1080,1608,1080');
	}
	
	.roach-container .five{
		offset-path: path('M0,53.19S128,662.1,582.55,540s542.66-515.35,891.52-287,715.32,502.81-363,827');
	}
	
	.roach-container .six{
		offset-path: path('M1576.26,0s264.28,142,56.38,376.67-370-95.14-584.95-111-630.75,92-648.37,393.25S1516.71,717.74,1920,1080');
	}
	
	.roach-container .seven{
		offset-path: path('M0,718.57S740.45,312.45,960,298.15s540.5-154.44,594.53-45.76S1516.39,428.75,1602.19,465,1913.68,944.5,1920,1001.7');
	}
	
	.roach-container .eight{
		offset-path: path('M1503.68,0s-206.55,278.13,0,381.09,467.13,243.1,168.42,334.62-858-532-1039.12-526.24-522.37,94.38-633,143');
	}
	
	.roach-container .nine{
		offset-path: path('M0,75.08S118.19,641.35,305.68,652.79s244.68-311.74,321-300.3,613.3-217.36,552.92,217.36S1920,901.6,1920,901.6');
	}
	
	.roach-container .ten{
		offset-path: path('M359.7,0S347,118,229.41,178,10.15,358.57,96,540,715.6,1080,715.6,1080');
	}
	
	.roach-container .eleven{
		offset-path: path('M0,1036S140.43,635.63,375.59,607s368.61-314.6,171.59-343.2S73.7,0,73.7,0');
	}
	
	.roach-container .twelve{
		offset-path: path('M1576.77,0S385.12,120.83,232.59,272.41s95.33,120.12,57.2,280.28-186,91.52-107.32,328.89S814.11,958.8,814.11,958.8s616.48-149.42,556.11,121.2');
	}
	
	.roach-container .thirteen{
		offset-path: path('M1920,495.49s-286,231.66-784.94,11.44S235.77,86.51,194.46,455.45,847.84,903.76,0,1080');
	}
	
	.roach-container .fourteen{
		offset-path: path('M480.45,1080s587.88-155.52,498.91-481.55S296.14,489.77,305.68,343.91,1195.44,39.32,1719.77,0');
	}
	
	.roach-container .fifteen{
		offset-path: path('M871.31,0s692.75,283.85,683.22,527S305.68,340.35,375.59,1080');
	}
	
	.roach-container .sixteen{
		offset-path: path('M1920,1080s-15.92-584.51-724.56-736.09-333.66,85.8-683.21,157.3S0,0,0,0');
	}
	
	.roach-container .seventeen{
		offset-path: path('M1074.69,1080s626-284.22,591.06-493-695.93-37.18-1051.83,0S658.4,218.07,420.08,178,0,629,0,629');
	}
	
	.roach-container .eighteen{
		offset-path: path('M960,0s511.9,252.39,419.75,527-448.06,11.44-568.81,45.76S437.91,515.51,0,976');
	}
	
	.roach-container .nineteen{
		offset-path: path('M1920,158s-57.23,214.5-333.7,185.9S1058.8,637.79,1656.21,1080');
	}
	
	.roach-container .twenty{
		offset-path: path('M566.25,1080S1529.1,950.22,1570.41,727.15s-54-469-365.44-477.62S1125.53,0,1125.53,0');
	}
	
	.roach-container .twentyone{
		offset-path: path('M613.92,0S235.77,200.91,432.79,366.79s1045.47-40,1001,274.56S1014.31,915.2,496.34,1080');
	}
	
	.roach-container .twentytwo{
		offset-path: path('M1491,0s314.6,321,0,472.61-263.75-108.68-740.41-80.08S41.92,592.73,251.66,778.62,1430.59,1080,1430.59,1080');
	}
	
	.roach-container .twentythree{
		offset-path: path('M836.36,1080s470.3-204.14,362.26-447.23-416.28-2.86-568.81-234.52c0,0-311.42-145.86-235.16,165.88S321.57,1080,321.57,1080');
	}
	
	.roach-container .twentyfour{
		offset-path: path('M1656.21,0S184.92,195.19,99.12,384s902.48,311.74,893,426.13S1920,1080,1920,1080');
	}
}