html, body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

a:hover{
	text-decoration: underline;
	background-color: yellow;
	color: black;
}

#images{
	z-index: -1;
}

#words{
	z-index: 1;
}

#images:target{
	z-index: 2;
}

#words:target{
	z-index: -1;
}