.text-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	position: fixed;
	top: 0;
}

.text-container .xin-container,
.text-container .cuo-container{
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	background-color: lightgrey;
	mix-blend-mode: multiply;
}

.text-container .xin-container .xin-row,
.text-container .cuo-container .cuo-row{
	width: 100%;
	height: calc(100% * 1/11);
	display: flex;
	flex-wrap: nowrap;
}

.text-container a{
	color: lightgrey;
	background-color: black;
}

/*
for all columns
*/

.text-container .xin-container .xin-column,
.text-container .cuo-container .cuo-column{

}

/*
for columns with text only
*/

.text-container .xin-container .caption span:nth-of-type(odd),
.text-container .cuo-container .caption span:nth-of-type(odd){
	opacity: 1;
}

.text-container .xin-container .caption span:nth-of-type(even),
.text-container .cuo-container .caption span:nth-of-type(even){
	opacity: 0.5;
}

.text-container .xin-container .caption span:hover,
.text-container .cuo-container .caption span:hover{
	color: black;
	background-color: yellow;
	opacity: 1;
	text-decoration: underline;
}

.text-container .xin-container .caption,
.text-container .cuo-container .caption{
	overflow: hidden;
	font-size: 12px;
	font-family: sans-serif;
	text-align: justify;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	box-sizing: border-box;
	color: lightgrey;
	background-color: black;
}

.text-container .xin-container .caption:hover,
.text-container .cuo-container .caption:hover{
	overflow-y: scroll;
}

.text-container .xin-container:hover .caption,
.text-container .cuo-container:hover .caption{
	background: transparent;
	border-right: 1px solid black;
	border-left: 1px solid black;
	color: black;
}

.text-container .xin-container .caption img,
.text-container .cuo-container .caption img{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
	display: none;
	filter: blur(25px);
}

.text-container .xin-container .caption span:hover + img,
.text-container .cuo-container .caption span:hover + img{
	display: block;
}

/*
mobile view
*/
@media only screen and (max-width:480px) {
	.text-container a{
		border-right: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
	}

	.text-container .xin-container .caption,
	.text-container .cuo-container .caption{
		font-size: 10px;
	}
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width:768px) {
	.text-container a{
		border-right: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
	}
	.text-container .xin-container .caption,
	.text-container .cuo-container .caption{
		font-size: 10px;
	}
}